<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="hello">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </nav>
    <h1>Blog Section</h1>
    <br>
    <% for (const post of posts) { %>
    <div class="tag-section">
        <h2 class="heading">@ <%= post.username %></h2>
        <h3 class="cont"> <%= post.content %> </h3>
        <br>
        <a href="<%= baseUrl %>/posts/<%= post.id %>">
            <button class="btn1">Post Details</button>
        </a>
        <a href="<%= baseUrl %>/posts/<%= post.id %>/edit">
            <button class="btn1">Edit Details</button>
        </a>
        <form method="post" action="<%= baseUrl %>/posts/<%= post.id %>?_method=DELETE">
            <button class="btn1">Delete Details</button>
        </form>
    </div>
    <br>
    <% } %>
    <button class="btn"><a href="<%= baseUrl %>/posts/new">New Post</a></button>
</body>
</html>
